html {
  background: linear-gradient(to bottom, #ee9ca7,#ffdde1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: lightseagreen;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s;
  border-style: none;
  border-radius: 40px;
  box-shadow: 5px 5px darkcyan;

}
/* active state */
.hoverMe:hover {
  transform: translate(-5px, -5px);
}
.hoverMe:active {
  transform:scale(0.85);
}